.card
{
    width: auto;
    height: 60px;
    background-color:goldenrod;
    border-radius: 15px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    padding: 15px;
}