html {
    background: url(images/image2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

.cont {
    width: 490px;
    height: 575px;
    padding-top: 40px;
    text-align: center;
    background-color: #75716d;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 40px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"] {
    height: 27px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
    border-radius: 15px;
}

textarea {
    height: 100px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}

form-input:before {
    background: url(images/userimage.png );
    content: "#f007";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
    color: #985986;
    padding-top: 5px;
    font-size: 35px
}

.btn-signup {
    padding: 15px 25px;
    color: #fff;
    background-color: #06aed5;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #06aed5;
}